body {

    background-image: url("https://r4.wallpaperflare.com/wallpaper/554/334/567/black-gray-texture-simple-wallpaper-eb969c7d73e10f59f5840ba98d5c3c90.jpg");
    background-attachment: fixed;
    background-size: cover;


}